<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="/public/_assets/style.css")
    link(rel="shortcut icon", href="/public/_assets/logo.png", type="image/x-icon")

  body
    #app
    script(type="module" src="/public/_assets/index.js")
    